---
title: Contrast Security Service Broker for PCF
owner: Partners
---


This documentation describes the Contrast Security Service Broker for Pivotal Cloud Foundry(PCF).
The Contrast Security Service Broker tile registers a service broker, allows users to define service plans, and exposes these plans on the Marketplace.
Developers can bind Contrast credentials to applications by creating instances of the service plans using Apps Manager or the cf CLI.

Instrument your applications with Contrast Security to gain real-time visibility to vulnerabilities in your application and to defend them against attacks. Contrast integrates with your existing SDLC processes to provide a way to view and fix vulnerabilities in your code, and protect your applications.

## <a id='overview'></a>Overview
Contrast Security Service Broker includes the following key features:

* Create and manage multiple service plans for different organizations.
* Bind Contrast credentials to applications.

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>Contrast Security for PCF details:</dt>
<dd><strong>Version</strong>: v0.1.13 </dd>
<dd><strong>Release date</strong>: April 5 2016</dd>
<dd><strong>Software component version</strong>: v0.1.12</dd>
<dd><strong>Compatible Ops Manager version(s)</strong>: v1.7.x, v1.8.x, v1.9.x</dd>
<dd><strong>Compatible Elastic Runtime version(s)</strong>: v1.4.x, v1.5.x, v1.6.x, v1.7.x</dd>
</dl>

## <a id="reqs"></a>Requirements

Contrast Security for PCF has the following requirements:

+ A Contrast Security account

## <a id="limitations"></a>Limitations

+ If you bind a service instance to an application that is not using the Contrast Security Buildpack the application will not download the Contrast Security Java agent.

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to [Contrast Security Support](mailto:support@contrastsecurity.com).

## <a id='license'></a>License

If you are interested in purchasing licenses or receiving a demo please <a href="https://www.contrastsecurity.com/demo">request a demo</a>.
