---
title: Contrast Security Service Broker for PCF (Beta)
owner: Partners
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }
    .note.warning:before {
        color: #f99;
     }
</style>

<p class="note warning">
<strong>IMPORTANT: </strong>
The Contrast Security Service Broker for Pivotal Cloud Foundry (PCF) tile is currently in beta 
and is intended for evaluation and test purposes only. 
Do not use this product in a PCF production environment.
</p>

This documentation describes the Contrast Security Service Broker for PCF.
The Contrast Security Service Broker tile registers a service broker, allows users to define service plans, and exposes these plans on the Marketplace.
Developers can bind Contrast credentials to applications by creating instances of the service plans using Apps Manager or the Cloud Foundry 
Command Line Interface (cf CLI) tool.

Instrument your applications with Contrast Security to gain real-time visibility to 
vulnerabilities in your application and to defend them against attacks. 
Contrast integrates with your existing software development life cycle (SDLC) processes to provide a way to view and fix 
vulnerabilities in your code and protect your applications.

## <a id='overview'></a>Overview

Contrast Security Service Broker includes the following key features:

* Create and manage multiple service plans for different organizations.
* Bind Contrast credentials to applications.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version support information about Contrast Security Service Broker for PCF.
 
<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v0.1.13</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>April 5, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v0.1.13</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.7.x, v1.8.x, v1.9.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.7.x, v1.8.x, v1.9.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

Contrast Security for PCF has the following requirements:

+ A Contrast Security account

## <a id="limitations"></a>Limitations

+ If you bind a service instance to an application that is not using the Contrast Security Buildpack the application will not download the Contrast Security Java agent.

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to [Contrast Security Support](mailto:support@contrastsecurity.com).

## <a id='license'></a>License

If you are interested in purchasing licenses or receiving a demo please <a href="https://www.contrastsecurity.com/demo">request a demo</a>.
