---
title: Installing and Configuring Contrast Security Service Broker for VMware Tanzu
owner: Partners
---

This topic describes how to install and configure Contrast Security Service Broker for VMware Tanzu

## <a id="install"></a> Install and Configure the Contrast Security Service Broker for VMware Tanzu

1. Download the product file from Pivotal Network.

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

1. Click **Add** next to the uploaded Contrast Security Service Broker for VMware Tanzu tile in the Ops Manager **Available Products** view to add it to your staging area.

1. Click the newly added **Contrast Security Service Broker for VMware Tanzu** tile.

1. On the **Settings** tab select the **Service Plans** option to configure a service plan.
At least one service plan is required to install the Contrast Security Service Broker for VMware Tanzu tile.
The service plan configuration requires all fields as shown below.

    ![alt-text="Contrast service plan config"](images/contrast-config.png)

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install Contrast Security Service Broker for VMware Tanzu tile.
