---
title: Using the Contrast Security Service Broker for VMware Tanzu
owner: Partners
---

This topic describes how to use the Contrast Security Service Broker for VMware Tanzu.

## <a id="using"></a> Using Contrast Security Service Broker for VMware Tanzu

### <a id="service-instance"></a>Create a service instance

To use the service broker you need to navigate to your Apps Manager instance.

1. Within **Apps Manager**, navigate to the **Marketplace**.

1. Under **Services** navigate to **Contrast Security Service Broker for VMware Tanzu**.

1. Select the **Service Plan** you want to use.

  ![alt-text="Contrast service plan"](images/contrast-service-plan.png)

1. Click **Select this plan**.

1. Define an instance name and select an app to bind to the service.

1. Click **Add**.

1. The application you chose to bind the service to will now have your Contrast Security credentials configured as a service plan.

1. If you are using the Contrast Security buildpack the next time you restage your application the Java agent will be downloaded and used to instrument the application.
